<ng-diagram-node-rotate-adornment />
<div class="component-card" (contextmenu)="onRightClick($event)">
  <div class="component-card__reference">{{ reference() }}</div>
  <svg class="component-card__symbol" viewBox="0 0 140 24" preserveAspectRatio="none">
    <line x1="0" y1="12" x2="20" y2="12" />
    <polyline points="20,12 28,4 44,20 60,4 76,20 92,4 108,20 120,12" />
    <line x1="120" y1="12" x2="140" y2="12" />
  </svg>
  <div class="component-card__value">{{ value() }}</div>
</div>
<ng-diagram-port id="port-a" type="both" side="left" originPoint="center" [class.is-connected]="isConnected('port-a')" />
<ng-diagram-port id="port-b" type="both" side="right" originPoint="center" [class.is-connected]="isConnected('port-b')" />
