:host {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--ngd-token-radius-node-head);

  --ngd-port-background-color: var(--ngd-node-port-fill-default);
  --ngd-port-border-color: var(--ngd-node-port-stroke-default);
  --ngd-port-border-size: 2px;
  --ngd-port-size: 8px;
}

.custom-node {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--node-custom-min-width);
  min-height: var(--node-custom-min-height);

  border-radius: var(--ngd-token-radius-node-head);
  border: 1px solid var(--ngd-node-stroke-primary-default);
  background: var(--ngd-node-bg-primary-default);
  padding: var(--ngd-token-spacing-node-head-v-pad)
    var(--ngd-token-spacing-node-head-h-pad);
  gap: var(--ngd-token-spacing-node-head-gap);

  &__header {
    display: flex;
    gap: 2px;
    align-items: center;
    gap: var(--ngd-token-spacing-node-head-gap);
    align-self: stretch;
  }

  &__icon {
    display: flex;
    padding: var(--ngd-token-spacing-node-head-icon);
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: var(--ngd-token-radius-node-head-icon);
    border: 1px solid var(--ngd-node-stroke-primary-default);
    background: var(--ngd-node-bg-secondary-default);

    color: var(--ngd-node-icon-primary-default);
    font-size: 24px;
  }

  &__label {
    color: var(--ngd-txt-primary-default);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  &__description {
    color: var(--ngd-txt-secondary-default);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    border: 1px dashed var(--ngd-dropzone-stroke-default);
    background: var(--ngd-dropzone-bg-default);
    padding: 8px;
    color: var(--ngd-txt-primary-default);
  }

  &:hover {
    border: 1px solid var(--ngd-node-stroke-primary-hover);
    background: var(--ngd-node-bg-primary-default);
  }

  &:active {
    border: 1px solid var(--ngd-node-stroke-primary-hover);
    background: var(--ngd-node-bg-primary-default);

    box-shadow: var(--ngd-token-shadow-focus-node-active-x)
      var(--ngd-token-shadow-focus-node-active-y)
      var(--ngd-token-shadow-focus-node-active-blur)
      var(--ngd-token-shadow-focus-node-active-spread)
      var(--ngd-focus-ring-node-active);
  }

  &:disabled {
    border: 1px solid var(--ngd-node-stroke-primary-default);
    background: var(--ngd-node-bg-primary-disabled);

    &__icon {
      border: 1px solid var(--ngd-node-stroke-primary-default);
      background: var(--ngd-node-bg-primary-disabled);
      color: var(--ngd-node-icon-primary-disabled);
    }

    &__label,
    &__description {
      color: var(--ngd-txt-disabled);
    }
  }
}
