:host {
  width: 100%;
}

.palette-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  padding: 8px;

  border-radius: 12px;
  border: 1px solid var(--ngd-node-stroke-primary-default);
  background: var(--ngd-node-bg-primary-default);

  &:hover {
    border-color: var(--ngd-node-stroke-primary-hover);
  }

  &__icon {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--ngd-ui-bg-secondary-default, #383a40);
  }

  &__text {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
  }

  &__label {
    color: var(--ngd-txt-primary-default);
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subtitle {
    color: var(--ngd-txt-secondary-default);
    font-size: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
