ng-diagram-base-edge.custom-edge {
  --edge-stroke: var(--ngd-default-edge-stroke);
  --edge-stroke-transition: stroke 0.1s ease-in-out;
}

ng-diagram-base-edge.custom-edge:hover:not(.selected):not(.temporary) {
  --edge-stroke: var(--ngd-default-edge-stroke-hover);
}

ng-diagram-base-edge.custom-edge.selected {
  --edge-stroke: var(--ngd-default-edge-stroke-selected);
}

ng-diagram-base-edge.custom-edge.temporary {
  --edge-stroke-opacity: 0.5;
}
