<div class="diagram-container" (contextmenu)="onDiagramRightClick($event)">
  <ng-diagram
    [model]="model"
    [config]="config"
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    [middlewares]="middlewares"
    (diagramInit)="onDiagramInit($event)"
    (edgeDrawEnded)="onEdgeDrawEnded($event)"
    (selectionMoved)="onSelectionMoved($event)"
    (selectionGestureEnded)="onSelectionGestureEnded($event)"
    (selectionRemoved)="onSelectionRemoved($event)"
    (groupMembershipChanged)="onGroupMembershipChanged($event)"
    (selectionRotated)="onSelectionRotated($event)"
    (viewportChanged)="onViewportChanged($event)"
    (clipboardPasted)="onClipboardPasted($event)"
    (nodeResized)="onNodeResized($event)"
    (paletteItemDropped)="onPaletteItemDropped($event)"
    (dragover)="onTemplateDragOver($event)"
    (drop)="onTemplateDrop($event)"
  >
    @if (backgroundType() !== 'solid') {
      <ng-diagram-background [type]="backgroundType() === 'grid' ? 'grid' : 'dots'"></ng-diagram-background>
    }
  </ng-diagram>
  <ng-diagram-minimap />
  <app-navbar
    (toggleDebugModeClick)="debugMode.set(!debugMode())"
    (backgroundTypeChange)="backgroundType.set($event)"
    (searchNodeClick)="onSearchNode($event)"
    (saveTemplateClick)="onSaveAsTemplate()"
    [isDebugMode]="debugMode()"
    [backgroundType]="backgroundType()"
    [canSaveTemplate]="canSaveTemplate()"
  />
  <app-palette />
  <app-properties [collapsed]="propertiesCollapsed()" />
  <app-context-menu
    (copyClick)="onContextMenuCopy()"
    (cutClick)="onContextMenuCut()"
    (pasteClick)="onContextMenuPaste($event)"
    (deleteClick)="onContextMenuDelete()"
    (bringToFrontClick)="onContextMenuBringToFront()"
    (sendToBackClick)="onContextMenuSendToBack()"
  />
</div>
