:host {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 100vh;
  padding: 76px 0 12px 12px;
  box-sizing: border-box;
  pointer-events: none;

  &:has(.sidebar--collapsed) {
    width: max-content;
    height: auto;
  }

  &:has(.sidebar--right) {
    right: 0;
    left: auto;
    padding: 76px 12px 12px 0;
  }
}

.sidebar {
  background: var(--ngd-ui-bg-primary-default);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  height: 100%;
  pointer-events: all;
  gap: 16px;
  padding: 16px 0;

  border-radius: var(--ngd-token-radius-shell);
  border: 1px solid var(--ngd-ui-stroke-primary-default);

  &--collapsed {
    width: max-content;
    min-width: 56px;
    min-height: 56px;
    padding: 8px;
    justify-content: center;

    .sidebar__header {
      justify-content: center;
      margin: 0;
    }
  }

  &--right.sidebar--collapsed {
    padding: 8px 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 0 16px;
    min-height: 38px;

    color: var(--ngd-txt-primary-default);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  &__splitter {
    display: flex;
    width: 100%;
    height: 1px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--ngd-ui-separator-primary-default);
  }

  &__content {
    display: flex;
    width: 100%;
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    overflow-y: auto;
  }
}
