@use '../component-card.scss';

.component-card__symbol text.terminal-label {
  font-size: 9px;
  font-weight: 600;
  font-family: 'Poppins', system-ui, sans-serif;
  fill: var(--ngd-txt-secondary-default);
  stroke: none;
}
